body{
	margin: 0;
	padding: 0;
}
.article{
	margin-bottom: 20px;
	background: white;
	height: 200px;
}
.artical_right{
	position: relative;
}

.article{
	height: 140px;
	padding: 10px;
	padding-bottom: 20px;
	display: flex;
	justify-content: flex-start;
	background: white;	
	border-radius: 4px;
	box-shadow: 2px 2px 5px lightgrey;
	margin-right:2px;
}

.picture{
	width: 25%;
	height: 140px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.artical_right{
	width: calc(100% - 25% - 15px);
	padding-left:15px ;
	height: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
/*	white-space: nowrap;*/
	position: relative;
}

.artical_right .title{
	font-weight: bold;
	color: mediumseagreen;
	font-size:120%;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.artical_right .articleDiscription{
	text-align: justify;
	line-height: 20px;
	width: 100%;
	max-height:100px;
	border: none;
	margin: 4px 10px 10px 0;
	outline: none;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	-webkit-box-orient: vertical;
}

.artical_right .articleBottom{
	position: absolute;
	bottom: 0px;
	font-family: "楷体";
	font-size: 14px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.articleBottom span{
	display: inline-block;
	text-align: center;
}

.item .iconfont{
	padding-right: 3px;
	text-align: left;
}

.item{
	margin-right: 7px;
}

/*点击按钮,加载更多*/
#more{
	width: 100%;
	height:40px;
	color: white;
	background: green;
	border-radius: 20px;
	line-height: 40px;
	border: none;
	outline: none;
	font-size: 18px;
	opacity: 0.6;
}

#more:active{
	opacity: 0.8;
}

