
*{
	margin: 0;
	padding: 0;
	font-family: "楷体";
}

.articleInBlog{
	padding: 20px;
}

.articleInBlog p{
	font-size: 20px;
	line-height:30px;
}

/*配置iconfont*/
@font-face {
  font-family: 'iconfont';
  src: url('../iconfont/iconfont.eot');
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../iconfont/iconfont.woff2') format('woff2'),
      url('../iconfont/iconfont.woff') format('woff'),
      url('../iconfont/iconfont.ttf') format('truetype'),
      url('../iconfont/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
	
	.title{
		font-size: 24px;
		color: black;
		width: 80%;
		margin: 5px 0;
		
	}
	.articleBottom,.title{
		padding:0 20px;
	}
	.articleBottom{
		margin: 0 20px;
		border-bottom: 1px solid lightslategray;
		padding-bottom: 8px;
	}
	.blogTop{
		height: 20px;
		padding: 0 20px;
		margin-top: 10px;
	}
	a{
		text-decoration: none;
		color: black;
	}
	
	.blogDetailPage{
		width: 100%;
		float: left;
		background: white;
	}
	
	h2{
		margin: 20px;
		border-bottom: 1px solid lightslategray;
	}
	
	.emojiWrapper{
		padding-bottom: 20px;
	}
	.emojiList{
		display:flex;
    	white-space: nowrap;
    	justify-content: space-between;
    	margin: 30px 20px 0;
	}
	.emojiList li{
		background: none;
		width: 140px;
		height: 120px;
		float: left;
		list-style: none;
	}
	.emojiList li div img{
		width: 80px;
		height: 70px;
		position: absolute;
		margin:0 auto;
		left: 50%;
		transform: translateX(-50%);
	}
	.emojiList li div{
		position: relative;
		padding-top: 5px;
		width: 140px;
		height: 80px;
		
	}
	.emojiList li p{
		height: 20px;
		text-align: center;
	}
	
	/*文章评价*/
	.emojiList li:hover{
		box-shadow: 0px 0px 5px 1px #888888;/*设置阴影,可以自定义参数*/
		cursor: pointer;
	}

	
	
	

